Monuments.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT data (row+)>
<!ATTLIST row _id CDATA #REQUIRED>
<!ELEMENT row (N,TITULO,AUTOR,URL,UBICACION,IMAGEN,FECHA,DISTRITO?,HORARIO?)>
<!ELEMENT N (#PCDATA)>
<!ELEMENT TITULO (#PCDATA)>
<!ELEMENT AUTOR (#PCDATA)>
<!ELEMENT URL (#PCDATA)>
<!ELEMENT UBICACION (#PCDATA)>
<!ELEMENT IMAGEN (#PCDATA)>
<!ELEMENT FECHA (#PCDATA)>
<!ELEMENT DISTRITO (#PCDATA)>
<!ELEMENT HORARIO (#PCDATA)>